$inactive:rgb(22, 127, 247);
$active:#2EB82E;

.FollowButtonContainer {
    .followButton {
        background-color: transparent;
        border: 1px solid $inactive;
        box-shadow: 0 0 2px $inactive;
        color: $inactive;
        border-radius: 3px;
        width: 80px;
        text-align: center;
        padding: 4px;
        font-size: 13px;
        font-weight: 600;
        transition: all 0.1s ease-in;
        &:hover {
            width:90px;
            color: white;
            border: 1px solid $active;
            box-shadow: 0 0 4px $active;
            background-color: $active;
        }
    }
    .followedButton {
        background-color: $active;
        border: 1px solid $active;
        box-shadow: 0 0 4px $active;
        color: white;
        border-radius: 3px;
        width:90px;
        text-align: center;
        padding: 4px;
        font-size: 13px;
        font-weight: 600;
        }
}
